{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Learning Platform Login</title>
    <link rel="stylesheet" href="{% static 'css/Accounts/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="header">E-LEARNING PLATFORM</div>
      <div class="main-content">
        <div class="left-panel">
          <img
            loading="lazy"
            src="{% static 'images/Accounts/image.jpg' %}"
            alt="Motivational Image"
            class="motivational-img"
          />
          <div class="image-caption"></div>
        </div>
        <div class="right-panel">
          <div class="login-container">
            <h2>Login Now</h2>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="input-group">
                <img
                  loading="lazy"
                  src="{% static 'images/Accounts/user.jpg' %}"
                  alt="User Icon"
                  class="input-icon"
                />
                <input
                  type="text"
                  name="username"
                  placeholder="Email or Username"
                  id="username"
                  required
                />
              </div>
              <div class="input-group">
                <img
                  loading="lazy"
                  src="{% static 'images/Accounts/password.jpg' %}"
                  alt="Lock Icon"
                  class="input-icon"
                />
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  id="password"
                  required
                />
              </div>
              <button type="submit" class="login-button">LOGIN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/Accounts/script.js' %}"></script>
  </body>
</html>
